
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Let's play Hearts</title>
    <meta name="description" content="Hearts Game">
    <meta name="author" content="cenglehard">

    <script src="{{ url_for('static', filename='brython.js')}}"></script>
    <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>

    <link rel="stylesheet" type="text/css" 
          href="{{ url_for('static', filename='css/bootstrap.css') }}">
  </head>

  <body onload="brython()">
    <script type="text/python" 
            src="{{ url_for('static', filename='create_game.py') }}">
    </script>

    <div class="container">


      <h1>Create Game</h1>
      <button id="start_game_button" class="btn-primary" style="width:100px"> Start </button>
      <p/>
      number of hands: <input id="num_hands" type="number" min="1" value="1" style="width:60px"></input>
      <ul id="player_options"> 
        <li id="player_select_1">  </li>
        <li id="player_select_2">  </li>
        <li id="player_select_3">  </li>
        <li id="player_select_4">  </li>
      </ul>
    </div>
  </body>
</html>

