
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Let's play Hearts</title>
    <meta name="description" content="Hearts Game">
    <meta name="author" content="cenglehard">

    <script src="{{ url_for('static', filename='brython.js')}}"></script>
    <script src="{{ url_for('static', filename='brython_stdlib.js')}}"></script>

    <link rel="stylesheet" type="text/css" 
          href="{{ url_for('static', filename='css/bootstrap.css') }}">
  </head>

  <body onload="brython()">
    <script type="text/python" 
            src="{{ url_for('static', filename='single_player.py')}}">
    </script>

    <div id="root_container" class="container">
      <h1>Hearts Game</h1>
<!-- I'm not a web dev so this is how I'm passing args to js/brython. -->
      <span id="gid" hidden>{{gid}}</span>
      <span id="pid" hidden>{{pid}}</span>
<!--------------------------------------------->
      <p> scores: <span id="scores"/> </p>
      <p> previously: <span id="previous_played"/> </p>
      <p> winner: <span id="previous_winner"/> </p>
      <p> played: <span id="played_so_far"></span> </p>
      <p> hand: </p>
      <ul id="play_options" />
    </div>
  </body>
</html>

